@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "غير مسموح لك بالوصول";
}

<header class="d-flex flex-column align-items-center" style="padding-top:20%">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">لايمكنك الوصول لهذه الصفحة</p>
</header>
