@model Alameen_CustomerAndDonglesMangment.Models.User

@{
    ViewData["Title"] = "تفاصيل المختص";
}

<div class="row column_title">
    <div class="col-md-12">
        <div class="page_title">
            <h2>لوحة التحكم / تفاصيل المختص</h2>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-12 d-grid" style="display: grid;">
        <div class="white_shd add_pro full margin_bottom_30 row" style="padding: 20px;">

            <div class="col-md-4">
                <Label>الاسم </Label>
                <p class="text-bold">@Model?.FullName</p>
            </div>

            <div class="col-md-4">
                <Label>الوظيفة</Label>
                <p class="text-bold">@Model?.Jop</p>
            </div>

            <div class="col-md-4">
                <Label>الهاتف</Label>
                <p class="text-bold">@Model?.PhoneNumber</p>
            </div>

            <div class="col-md-12">
                <Label>اسم المستخدم</Label>
                <p class="text-bold">@Model?.UserName</p>
            </div>

        </div>
    </div>

</div>


<div>
    <a asp-action="Index">العودة للقائمة</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">تعديل</a>
</div>
