@{
    ViewData["Title"] = "الرئيسة";
}

<div class="row column_title">
    <div class="col-md-12">
        <div class="page_title">
            <h2>لوحة التحكم</h2>
        </div>
    </div>
</div>

<div class="row column1">
    <div class="col-md-6 col-lg-6">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa fa-users yellow_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.CountCustomer</p>
                    <p class="head_couter">العملاء</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa fa-cloud-download green_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.CountDongles</p>
                    <p class="head_couter">الدناقل</p>
                </div>
            </div>
        </div>
    </div>
</div>